<div class="container">
  <h1>Encriptador de PINES</h1>
  <div class="form-group">
    <textarea [(ngModel)]="inputText" rows="5" class="form-control" placeholder="Introduce el texto"></textarea>
  </div>
  <button (click)="encrypt()" class="btn btn-primary">Encriptar</button>
  <button (click)="decrypt()" class="btn btn-secondary">Desencriptar</button>
  <div class="form-group mt-3">
    <textarea [(ngModel)]="outputText" rows="5" class="form-control" placeholder="Resultado"></textarea>
  </div>
  <button (click)="copyOutput()" class="btn btn-warning">Copiar</button>
  <button (click)="pasteInput()" class="btn btn-info">Pegar</button>
</div>
